.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.messageImg {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 240px;

}

.messageBottom {
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 245, 245);
    color: black;
}

.ow-anywhere {
    overflow-wrap: break-word;
}

.messageSettings{
    margin-left: 10px;
    cursor: pointer;
}