.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.topbarLeft {
    flex: 3;
}


.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}



.topbarCenter {
    flex: 5;
    position: relative;

}

.usersList {
    position: absolute;
    width: 42%;
    left :26%;
    top: 50px;

}

.user{
    color: black;
}

.userFind {
    padding: 10px;
    background-color: white;
    z-index: 999999;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.topbarLink {
    margin: 0 20px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.userTopLeft {
    display: flex;
    align-items: center;
}

.userTopRight {
    display: flex;
    align-items: center;
}

.userProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .userUsername {
     font-size: 15px;
     font-weight: 500;
     margin: 0 10px;
 }